$bg_home: #ffdf01;


.home_bg {
    background-color: $bg_home;
}

input {
    background-color: #ffdf01;
    padding: 10px;
    width:100%;
    border: none;
    border-bottom: gray;
    margin-bottom: 10px;
    border-radius: 10px;
}